<!-- client box -->
<div class="grid-20 tablet-grid-20 mobile-grid-50">
    <div class="client-logo">
        <a href="#"><img src="../assets/logo.png" alt="client logo"></a>
    </div>
</div><!-- close client box -->