<!DOCTYPE html>
<html>
<head>

        <!-- Basic Page settings for pipe line and csrf
    ================================================== -->
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	    <%= csrf_meta_tags %>


    	<!-- Basic Page Needs
      ================================================== -->
    	<meta charset="utf-8">
    	<title>紐約客線上英文- 最推薦的線上英文</title>
    	<meta name="description" content="我們最有效英文學習 我們學生進步最快 我們學生收獲最大 我們教學完美 最優師資線上英文 - C/P值最高線上英文 - 師資管理最用心線上英文 ">
    	<meta name="author" content="Carlisle Cullen in IM-Groups">

    	<!-- Mobile Specific Metas
      ================================================== -->
    	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

        <!-- CSS
      ================================================== -->
        <link rel="stylesheet" href="../assetes/reset.css" media="all">
        <link rel="stylesheet" href="../assetes//ut-fontface.css" media="all">
        <link rel="stylesheet" href="../assetes/font-awesome.css" media="all">
        <link rel="stylesheet" href="../assetes/flexslider.css" media="all">
        <link rel="stylesheet" href="../assetes/magnific-popup.css" media="all">
        <link rel="stylesheet" href="../assetes/ut-responsive-grid.css" media="all">
        <link rel="stylesheet" href="../assetes/color.css" media="all">
        <link rel="stylesheet" href="../assetes/style.css" media="all">
        <link rel="stylesheet" href="../assetes/ie.css" media="all">

    
        
         <!--[if lt IE 9]>
    		<script src="../assets/html5.js"></script>
    	<![endif]-->
        
       <!--[if lt IE 9]>
    	<link rel="stylesheet" type="text/css" href="ie8-and-down.css" />
    	<style>.hero .hero-holder {
    		margin-left:-410px;
    	}
    	</style>
        <![endif]-->
        
        <!--[if IE]>
    		<link rel="stylesheet" type="text/css" href="../assets/ie.css" />
    	<![endif]-->

    	<!-- Favicons
    	================================================== -->
    	<link rel="shortcut icon" href="../assets/favicon.ico">
    	<link rel="apple-touch-icon" href="../assets/apple-touch-icon.png">
    	<link rel="apple-touch-icon" sizes="72x72" href="../assets/apple-touch-icon-72x72.png">
    	<link rel="apple-touch-icon" sizes="114x114" href="../assets/apple-touch-icon-114x114.png">

    	    <!-- Load Javascript
    ================================================== -->
        <script src="../assets/device.min.js"></script>
        <script src="../assets/html5.js"></script>
        <script src="../assets/jquery.custom.js"></script>
        <script src="../assets/jquery.flexslider-min.js"></script>
        <script src="../assets/jquery.magnific-popup.min.js"></script>            
        <script src="../assets/jquery.mb.YTPlayer.js"></script>
        <script src="../assets/jquery.parallax.min.js"></script>
        <script src="../assets/jquery.scrollTo.min.js"></script>
        <script src="../assets/modernizr.js"></script>
        <script src="../assets/SmoothScroll.js"></script>          
        <script src="../assets/waypoints.min.js"></script>     
        
    </head>

    <body id="mainsite">

<%= yield %>

</body>
</html>

